@font-face { /*굵은폰트*/
    font-family: "NotoKR-Medium";
    src: url("resources/font/NotoKR-Medium.ttf");
}
@font-face {
    font-family: 'NotoKR-Regular';
    src: url("resources/font/NotoKR-Regular.ttf");
}

/*footer 하단 고정
html, body{ margin:0; padding:0; height: 100%}
#body_wrapper{ min-height: 100%; position: relative;}
#body_content{ margin-top: 100px; padding-bottom: 160px;}
*/

#header{
    margin: auto;
    max-width: 1200px;
    height: 100px;
}

#h_left{
    margin-top: 27px;
    margin-left: 2%;
    float: left;
}

#h_right{
    width: 500px;
    margin-right: 10px;
    margin-top: 35px;
    float: right;
    overflow: hidden;
}

#h_right span{
    font-family: 'NotoKR-Medium';
    font-size: 17px;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
}

#search{
    border-bottom: 2px solid gray;
    width: 120px;
    float: right;
    margin-right: 20px;
}

#language{
    width: 75px;
    height: 20px;
    float: right;
}

#lang1{width:20%; margin-top: 2px; float: left;}
#lang2{width:40%; float: left;}
#lang3{width:12%; margin-top: 9px; float: right;}
#language img{ display: block;}



#body_content{
    max-width: 1200px;
    margin: auto;
}

#section1_back{
    background-image: url("resources/img/main/section1/lasvegas.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    filter: blur(5px);
    width: 100vw;
    height: 70%;
    position: absolute;
    top: 110px;
    overflow: hidden;
    z-index: -1;
}
    

#section1{
    margin-bottom: 110px;
}

#section1 img{
    width: 100%;
    display: block;
    margin: 0;
    padding:
}

#section1 .ban{
    width: 25%;
    height: 10%;
    background-color: white;
    border: 1.5px solid rgb(216,216,216);
    padding:10px 15px;
    float: left;
    box-sizing: border-box;
}

.ban_t1{
    font-family: NotoKR-Regular;
    font-size: 85%;
    word-break: keep-all;
}

.ban_t2{
    font-family: NotoKR-Regular;
    font-size: 108%;
    word-break: keep-all;
}

#s1_1, #s1_2{ z-index: 1;}


#section2{
    max-width: 1200px;
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    border : 1.5px solid rgb(216,216,216);
}

#section2::after{
    content: "";
    display: block;
    padding-bottom: 39%;
    box-sizing: border-box;
}

#s2_1{
    width: 50%;
    box-sizing: border-box;
    float: left;
    background-image: url("resources/img/main/section2/recommend.jpg");
    background-position: top left;
    background-size: cover;
    position: relative;
}

.s2_t1{
    font-family:NotoKR-Medium; 
    font-size:120%;
    color:white;
    word-break: keep-all;
}

.s2_t2{
    font-family:NotoKR-Medium;
    font-size:80%;
    color:white;
    word-break: keep-all;
}

#s2_1_msg{
    width:50%;
    height: 50%;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8%;
    background-color:rgb(238,93,93)  
}

#s2_1_prev{
    position: absolute;
    right: 25%;
    bottom: 15%;
}

#s2_1_next{
    position: absolute;
    right: 10%;
    bottom: 15%
}


#s2_2{
    width:50%;
    position:relative;
    box-sizing: border-box;
    float: left;
}

#s2_2_1{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8%;
    background-color:rgb(249,168,2);  
}

#s2_2_prev{
    position: absolute;
    right: 25%;
    bottom: 15%;
}

#s2_2_next{
    position: absolute;
    right: 10%;
    bottom: 15%
}

#s2_2_img{
    width: 50%;
    float: right;
    box-sizing: border-box;
}

#s2_3{
    width: 50%;
    position: relative;
    float:left;
    box-sizing: border-box;
}

#s2_3::after{
    content: "";
    display: block;
    padding-bottom: 38%;
    box-sizing: border-box;
}

#s2_3_t1{
    font-family:NotoKR-Medium; 
    font-size:110%;
    word-break: keep-all;
}

#s2_3_t2{
    font-family:NotoKR-Medium; 
    font-size:80%;
    word-break: keep-all;
}

#s2_3_prev{
    width: 5%;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

#s2_3_AS{
    width: 38%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10%;
}

#s2_3_AS_img{
    width: 100%;
    display:block;
}

#s2_3_msg{
    width: 38%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10%;
}

#s2_3_next{
    width: 5%;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translate(0, -50%);
}

.sq:after{
    content: "";
    display: block;
    padding-bottom: 78%;
    box-sizing: border-box;
}


#section3{
    max-width: 1200px;
    position: relative;
    padding: 0;
    margin-top: 40px;
}

#s3_1{
    width:39.8%;
    float:left;
}

#s3_1_1{
    width: 14%;
    float: left;
}

.sns_logo{
    width: 100%;
    display: block;
    margin-top: 1px;
}

#s3_1_1_1{
    width: 96%;
    border: 1.5px solid rgb(216,216,216);
}

#s3_1_2{
    width: 85%;
    height: 600px;
    border: 1.5px solid rgb(216,216,216);
    float:left;
}

#fb_link{
    width: 100%;
    height: 100%;
    border: none;
}

#s3_2_1{
    height: 50px;
    width: 57%;
    float: left;
    padding-left: 2%;
}


#s3_2_2{
    width: 59%;
    padding-left: 1%;
    float: right;
    display: table;
    box-sizing: border-box;
}


#s3_2_msg{
    font-family: NotoKR-Medium;
    font-size: 18px;
    font-weight: 1000;
    color: rgb(56,56,75);
    line-height: 35px;
}


.s3_2_margin {
    width:0.5%;
    display: inline-block;
  }

.bestgame{
    width: 33%;
    display: inline-block;
}

#s3_2_2 img{
    width: 100%;
    height: 100%;
}

#s3_3{
    width: 58%;
    float: right;
    padding-left: 1%;
    padding-right: 0%;
    margin-right: 0%;
    display: table;
    margin-top: 20px;
}

.s3_3_menu{
    width: 23.5%;
    height: 55px;
    border: 1.5px solid rgb(216,216,216);
    box-sizing: border-box;
    background-color: rgb(240,240,240);
    display: inline-block;
    position: relative;
}

.s3_3_margin{
    width: 2%;
    display: inline-block;
};

#s3_3_t1{}

.s3_3_msg{
    position:absolute;
    left: 10%;
    top: 22%;
    transform: translate(0, -50%);
    font-family: NotoKR-Regular;
    font-size: 14px;
    line-height: 1.1;
    word-break: keep-all;
}

.s3_3_img{
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    position: absolute;
    right: 10%;
}


#footer{
    width: 100vw;
    background-color: rgb(150,150,150);
    margin-top: 800px;
    height: 160px;
}

#_footer{
    margin: auto;
    max-width: 1200px;
    margin-top: 800px;
    height: 160px;
}

#f1{
    width: 8%;
    height: 160px;
    position: relative;
    float: left;
}

#f1_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#f2{
    width: 50%;
    height: 160px;
    position: relative;
    float: left;
}

#f2_1{
    width: 100%;
    padding-top: 20px;
    display: block;
    float: left;
}

#f2_1_t{
    font-family: NotoKR-Medium;
    font-size: 14px;
    letter-spacing: -0.5px;
    color: white;
}

#f2_2{
    width: 100%;
    display: block;
    float: left;
}

#f2_2_t{
    font-family: NotoKR-Regular;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    text-align: left;
    transform: translate(0, -20%);
}

#f3{
    width: 250px;
    height: 160px;
    float: right;
    position: relative;
}

#f3_img1{
    position: absolute;
    top: 60px;
    right: 150px;
}

#f3_img2{
    position: absolute;
    top: 60px;
    right: 20px;
}


